<div class="card ">
  <div class="card-header">
    Acceptance Status
    <span class="table-right">
      State &nbsp; &nbsp;
      <i class="fa fa-caret-down "></i>&nbsp; district &nbsp; &nbsp;
      <i class="fa fa-caret-down"></i>&nbsp;&nbsp;
      <i class="fa fa-ellipsis-v" aria-hidden="true"></i> </span
    ><br /><br />
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Order ID</th>
            <th scope="col">Product Name</th>
            <th scope="col">Date</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>JK0000021</td>
            <td>Shade Net</td>
            <td>05 Jan 2019</td>
            <td>Accept</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>JK0000025</td>
            <td>Drip Irrigation</td>
            <td>25 jan 2019</td>
            <td>Reject</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>JK0000028</td>
            <td>Shade Net</td>
            <td>28 jan 2019</td>
            <td>Accept</td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>JK0000029</td>
            <td>Drip Irrigation</td>
            <td>30 jan 2019</td>
            <td>Reject</td>
          </tr>
          <tr>
            <th scope="row">5</th>
            <td>JK0000035</td>
            <td>Shade Net</td>
            <td>02 feb 2019</td>
            <td>Accept</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- <div class="card ">
                <img  class=card-image src="assets\images\barchart.png">
                </div>
                </div>
              -->
</div>
