<nav class="navbar   navbar-light bg-light navbar-inverse">
  <app-authorised-side-nav-toggler></app-authorised-side-nav-toggler>

  <h3 style="margin-right: 130px">
    <i class="fa fa-bell-o" style="font-size: 30px"></i>&nbsp;
    <i class="material-icons " style="font-size:32px">&nbsp; help_outline </i>
    &nbsp;

    <span class="dropdown">
      <i
        class="fa fa-user btn rounded-circle z-depth-0"
        style="font-size: 32px"
        data-toggle="dropdown"
        (click)="toggleNavbar()"
      ></i>

      <div class="dropdown-menu" [ngClass]="{ show: navbarOpen }">
        <a class="dropdown-item" href="#">Santosh R.</a>
        <hr style="border: 0px" />
        <a class="dropdown-item" href="#">
          <i class="material-icons"> account_circle</i>&nbsp; profile</a
        >
        <a class="dropdown-item" href="#">
          <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout</a
        >
      </div>
    </span>
    <!-- <a href="#" data-toggle="popover"  data-content="Some content inside the popover">
                                        <i class="material-icons"> account_circle</i></a> -->
  </h3>
</nav>
