<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">
        Products
        <div class="picon"><i class="fa fa-cube"></i></div>
      </h3>

      <p class="card-text">
        <small class="text-muted"
          >2000
          <div class="dropicon">
            <i class="fa fa-caret-down"> 20%</i>
          </div></small
        >
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">
        Products
        <div class="picon"><i class="fa fa-cube"></i></div>
      </h3>
      <p class="card-text">
        <small class="text-muted"
          >2000
          <div class="dropicon">
            <i class="fa fa-caret-down"> 20%</i>
          </div></small
        >
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">
        Products
        <div class="picon"><i class="fa fa-cube"></i></div>
      </h3>
      <p class="card-text">
        <small class="text-muted"
          >2000
          <div class="dropicon">
            <i class="fa fa-caret-down"> 20%</i>
          </div></small
        >
      </p>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">
        Products
        <div class="picon"><i class="fa fa-cube"></i></div>
      </h3>
      <p class="card-text">
        <small class="text-muted"
          >2000
          <div class="dropicon">
            <i class="fa fa-caret-down"> 20%</i>
          </div></small
        >
      </p>
    </div>
  </div>
</div>
