.material-icons {
 font-size: 40px;
 vertical-align:middle;
 
}
.search{
    font-size: 23px;
    color:lightgray;
    margin-left: 30px
}
.navbar-toggler{

font-size: 20px;
  cursor: pointer;
  background-color: rgb(253, 253, 253);
  padding: 10px 15px;
  border: none;
}
#main {
  margin-left: 270px;
}

#main.moveTopNav {
  margin-left: -10px;
}
